// TODO: Clean up coode
// TODO fix position absolute on navbar-items

@import "./variables";
@import "./mixins";
@import "./hamburgers/hamburgers";

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.navbar-list {
  line-height: 1;
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  height: $nav-height;
  background: $color-5;
  color: $color-4;
  transition: all 250ms ease-in-out;
  @include flexSpace(row, space-between);
  align-items: flex-start;
  .logo {
    width: 50%;
    padding: 1rem 0;
    max-height: 100%;
    font-weight: 600;
    font-size: $font-size-logo;
    transition: all 250ms ease-in-out;
  }
  .hamburger-item {
    overflow: hidden;
    @include flexCenter(row);
    max-height: 100%;
    transition: all 250ms ease-in-out;
    @include breakpoint($medium) {
      display: none;
    }
    .hamburger {
      transition: all 250ms ease-in-out;
    }
  }
  .navbar-items {
    width: 100%;
    transition: all 250ms ease-in-out;
    padding: $nav-padding-y 0;
    background: $color-5;
    position: absolute;
    padding: 0 20px;
    top: $nav-height;
    left: 0;
    height: 0;
    overflow: hidden;
    @include breakpoint($medium) {
      position: static;
      height: auto;
      margin: 0;
      padding: 0;
      width: 70%;
    }

    .navbar-items-list {
      margin-top: 20px;
      position: relative;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      li {
        margin: 20px 0;
      }
      @include breakpoint($medium) {
        position: static;
        justify-content: flex-end;
        align-items: flex-end;
        @include flexSpace(row, space-between);
        margin: auto 0;
        padding: $nav-padding-y 0;
        li {
          margin: auto 0;
        }
      }
    }
  }
}
