@import "./variables";
@import "./mixins";
@import "./hamburgers/hamburgers";

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.navbar-list {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  height: $nav-height;
  background: $color-1;
  color: $color-4;
  transition: all 250ms ease-in-out;
  @include flexSpace(row, space-between);
  .logo {
    width: 50%;
    font-weight: 600;
    font-size: $font-size-logo;
    transition: all 250ms ease-in-out;
  }
  .hamburger-item {
    overflow: hidden;
    @include flexCenter(row);
    max-height: 100%;
    // background: red;
    transition: all 250ms ease-in-out;
    @include breakpoint($medium) {
      display: none;
    }
    .hamburger {
      transition: all 250ms ease-in-out;
    }
  }
  .navbar-items {
    display: none;
    width: 70%;
    .navbar-items-list {
      list-style-type: none;
      @include flexSpace(row, space-between);
    }
    @include breakpoint($medium) {
      display: block;
    }
  }
}

.is-scrolled {
  height: $nav-height-scrolled;
  .logo {
    font-size: $font-size-logo-scrolled;
  }
  .hamburger-items {
    .hamburger {
      height: $nav-height-scrolled;
    }
  }
}

@include breakpoint($medium) {
  .navbar-list {
    background: green;
  }
}
