// Fonts
// Poppins
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

// Colors
$color-1: rgba(32, 112, 136, 1);
$color-2: rgba(1, 50, 63, 1); 

// Primary font color
$color-3: rgba(7, 26, 33, 1);

// Primary background color secondary font-color
$color-4: rgba(227, 244, 249, 1);
$color-5: rgba(219, 112, 46, 1);

// Breakpoints
$small: 380px;
$medium: 580px;
$large: 800px;