/* Coolors Exported Palette - coolors.co/207088-01323f-071a21-e3f4f9-db702e */

/* HSL */
$color1: hsla(194%, 62%, 33%, 1);
$color2: hsla(193%, 97%, 13%, 1);
$color3: hsla(196%, 65%, 8%, 1);
$color4: hsla(194%, 65%, 93%, 1);
$color5: hsla(23%, 71%, 52%, 1);

/* RGB */
$color1: rgba(32, 112, 136, 1);
$color2: rgba(1, 50, 63, 1);
$color3: rgba(7, 26, 33, 1);
$color4: rgba(227, 244, 249, 1);
$color5: rgba(219, 112, 46, 1);